@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    background: #1E90FF;
}

.log_top img{
    width: 150px;
}

.log_top{
    padding: 10px;
    margin:0 auto;
    display: block;
    color: #FFF;
    text-align: center;
}
.log_top p{
    font-weight: bold;
    font-size: 240%;
}
.log{
    background-color: #ccd8ff;
    padding: 50px 0;
    /* ログイン画面グラデーション */
    height: 100vh;
    background-color: 	#FFD700;
    background-image: linear-gradient(0deg,	#FFD700 20%, #1E90FF 100%);
}

.login-page{
    width: 25%;
    height: 55%;
    padding: 3%;
    /* パディングを細かく指定してCSS記述する */
    margin: 0 auto;
    margin-bottom: 20px;
    color: #FFF !important;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.login-page a{
    color: #FFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.login-page label{
    display: block;
}

.login-page input{
    display: block;
}

.input-mail,.input-password{
    width: 100%;
    border-radius: 5px;
    line-height: 2;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    opacity: 0.8;
}

/* ボタンの配置移動marginで右０、左オートで設定すると右寄せになる */
.btn-login{
    margin-right: 0;
    margin-left: auto;
}

/* 新規登録ページ */
.register{
    background-color: #ccd8ff;
    padding: 50px 0;
    /* ログイン画面グラデーション */
    height: 100vh;
    background-color: 	#FFD700;
    background-image: linear-gradient(0deg,	#FFD700 20%, #1E90FF 100%);
}

.register-top{
    width: 25%;
    height: 55%;
    padding: 3%;
    /* パディングを細かく指定してCSS記述する */
    margin: 0 auto;
    margin-bottom: 20px;
    color: #FFF !important;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.register a{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.register p{
    width: 350px;
    /* パディングを細かく指定してCSS記述する */
    margin: 0 auto;
    margin-bottom: 20px;
    color: #FFF !important;
}

.register-top label{
    display: block;
}

.register-top input{
    display: block;
}

.register-input input{
    width: 100%;
    border-radius: 5px;
    line-height: 2;
}

.title2{
    text-align: center;
}

.register-top p{
    text-align: center;
}

.btn-register{
    margin-right: 0;
    margin-left: auto;
}
/* ログイン、ログアウトはログアウトCSSに記述する */