@charset "utf-8";
html{
}
body{
}
/* header */
/* display:flex;は親要素に対応するため操作したい親要素に記述する */
/* ページのヘッダー */
header{
  background:#186AC9;
  display: flex;
  width: 100%;
  padding: 1%;
  align-items: baseline;
}

/* main content */
/* トップページのサイドメニュー */
#row{
    display: flex;
    flex-flow: row wrap;
}

/* ページ左側どのページも共通 */
#container{
    flex: 0 0 80%;
}

/* サイドメニュー */
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    min-height: 100vh;
}

/* サイドメニューの上部 */
#confirm{
  border-bottom: 1px solid #727272;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* サイドメニュー上部の中身(人数とボタンレイアウト) */
#confirm div{
  display: flex;
  margin-left: 10%;
}

/* サイドメニューのログインユーザーの名前 */
.login-name{
  margin-left: 10%;
}

/* サイドメニュー　ボタン */
/* ボタンの文字色 */
.btn{
    color: #fff !important;
}

/* サイドメニューのフォローリスト、フォロワーリストボタン位置 */
.btn.btn-primary{
  margin: 0 0 0 auto;
  width: fit-content;
  display: block;
  margin-bottom: 15%;
}

/* サイドメニューのフォロー数の文字余白 */
.count{
  margin-left: 20%;
}

/* サイドメニューのフォロワー数の文字余白 */
.count2{
  margin-left: 15%;
}

/* サイドメニューのユーザー検索ボタン位置 */
.btn.btn-primary.btn-search{
  margin: 0 auto;
  width: fit-content;
  display: block;
}


/* topページ */
/* atlasロゴ */
#logo img{
    width: 120px;
    padding: 10px;
}

/* アコーディオンメニューとヘッダーの部分にあるログインユーザーの名前とアイコン部分 */
#head{
    flex-wrap: nowrap;
    text-align: right;
    display: flex;
    width: 90%;
    justify-content: end;
}

/* ヘッダーのログインユーザーの名前とアイコンの部分 */
.username{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2.5%;
    margin-right: 3%;
}

/* ヘッダーのアイコン画像 */
#head img {
  width: 50px;
  height: 50px;
}

/* ヘッダーのアイコンの位置調節 */
div.head-img {
  margin-top: 1.5%;
  margin-left: 1%;
}

/*アコーディオンメニュー*/
.nav-menu {
    display: none;
    width: 20%;
    right: 0;
    top: 15%;
    position: absolute;
    padding-left: 0;
    /* text-align: center; */
    /* font-size: 20px; */
    /* border: 3px solid #000080; */
    background-color:#FFFFFF;
    /* color: #808080; */
}

/* アコーディオンメニューの中身 */
.nav-menu li a {
    display: flex;
    height: 300%;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #808080;
    font-size: 25px;
    border: 3px solid #000080;
    line-height: 300%;
}

/* アコーディオンメニューのボタン */
.nav-btn {
    /* position: relative; */
    padding: 10px;
}

/* アコーディオンメニューの矢印の位置調節 */
div#accordion{
  margin-top: 1.5%;
}
/* アコーディオンメニューの開いた時のレイアウト */
.nav-btn:after {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    display: block;
    /* 矢印の線の長さ */
    height: 20px;
    width: 20px;
    /* position: absolute; */
    right: 25px;
    /* top: 0%; 後で使うかも*/
    transform: rotate(135deg);
    transition: transform 0.5s ease-in-out, top .0.5s ease-in-out;
}

/* アコーディオンメニューの開いた時のボタンレイアウト */
.nav-btn.open:after {
    top: 45%;
    transform: rotate(-45deg);
}

/* アコーディオンメニューの開いた時の位置固定 */
.nav-menu.open:after {
    display: block;
    /* position: absolute; */
    resize: none;
}

/* アコーディオンメニュークリックで色が変わる */
.nav-menu li a:hover {
  background-color: #000080;
  color: #FFFFFF;
}


/*  topページ　上部　投稿エリア  */
/* 投稿エリア全体 */
.Form-group{
  border-bottom: 10px solid #DDDDDD;
  padding: 20px;
}

/* 投稿エリアの中身 */
.Post {
  display: flex;
  width: 80%;
  height: 200%;
  margin-left: 90px;
  margin-top: 40px;
}

/* 投稿ボタン */
button.form-button {
  background-color: #FFFFFF;
}

/* 投稿ボタンレイアウト */
.form-button {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  border: none;
}

/* 投稿画面のユーザーアイコン */
.Post img {
  width: 50px;
  height: 50px;
}

/* 投稿ボタン画像 */
.form-button img {
  width: 45px;
  height: 45px;
  border-radius: 3px;
}

/* 投稿のボタン押した後のエラー表示 */
.index-errors {
  color: red;
}

.index-errors li{
  margin-left: 13%;
}

/* topページ　投稿ページのレイアウト 下部分*/
/* ユーザーアイコン */
figure img{
  width: 50px;
  height: 50px;
}

/* 投稿ごとのブロックのこと */
.content-block{
    border-bottom:1px solid #000;
    /* display:flex; */
    /* position: relative; */
  }

  /* 投稿のアイコン画像、ユーザーの名前、投稿日時のまとめたブロック */
  .post-box{
    width:100%;
    padding:20px;
  }

  /* 投稿内容 */
  .post-top{
    display:flex;
    /* アイコン、名前、投稿日時を横並び */
    align-items: center;
    /* ３つを縦に中央に並べる */
  }

  /* ユーザーアイコン画像の位置調節 */
  figure{
    margin-left: 10%;
  }

  /* ユーザーの名前の位置調節 */
  .post-name{
    margin-bottom:10px;
    /* 投稿内容とのスペース */
    margin-left: 20px;
    /* アイコンとのスペース */
  }

  /* 投稿日時の位置調節 */
  .post-created_at{
    margin-left: auto;
    /* 投稿日時のみ右寄せ */
  }

  /* 投稿内容の位置調節 */
  .post-post{
    margin-left: 18%;
    /* 余白調整 */
  }
  
  /* ログインユーザーの投稿のみに出る 編集ボタン、削除ボタンレイアウト */
  .post-btn{
    display: flex;
    justify-content: end;
    padding: 20px;
  }

  /* 編集ボタンレイアウト */
.js-modal-open{
    background-image: url('/images/edit.png');
    background-size: cover;
    background-color: #fff;
    border: none;
    width: 35px;
    height: 35px;
}

/* 削除ボタンのレイアウト(ボタン押す前の画像) */
.delete-button{
    background-image: url('/images/trash-h.png');
    background-size: cover;
    border: none;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

/* 削除ボタンのレイアウト(ボタン押した後の画像) */
.delete-button:hover{
    background-image: url('/images/trash.png');
    background-size: cover;
    border: none;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

/* 投稿編集ボタン押した時のモーデルページ */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

/* モーデルページが開いた時のバックのレイアウト */
.modal__bg{
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}

/* モーデルの中身 */
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 40%;
    text-align: center;
    border-radius: 20px / 20px;
}

/* モーデルの投稿編集出来るエリア全体 */
.modal__content form{
  border: 1px solid;
  width: 100%;
  height: 80%;
}

/* 投稿編集出来るエリアの中身レイアウト */
.modal_post{
    border: none;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* 編集ボタンレイアウト */
.update-button{
  border: none;
  background-color: #fff;
}

/* 編集ボタン大きさ */
.update-button img{
  width: 35%;
  height: 35%;
}

/* 編集ボタン位置調節 */
.modal-btn{
  margin-top: 2%;
}

/* 検索ページ */
/* 検索ページ上部全体 */
.search-top{
    display: flex;
    border-bottom: 10px solid #DDDDDD;
    margin-bottom: 5%;
}

/* 検索ボタン */
.btn.btn-search img{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

/* 検索ページ上部の中身 */
.search-top form{
    display: flex;
    width: 300%;
    padding: 5%;
}

/* 検索結果の表示 */
p.Keyword{
  margin-left: 5%;
  font-size: 20px;
  margin-top: 2%;
  white-space: nowrap;
}

/* 検索ページ下部 */
/* 検索ページ全体 */
.search-box{
    /* display: flex; */
    margin: auto;
    justify-content: center;
    /* 水平方向の中央寄せ */
}

/* ログインユーザーの人達のアイコン画像 */
.search-box img{
    height: 50px;
    width: 50px;
}

/* 検索ページの中身 */
.search-box1 {
    display: flex;
    /* margin: 5% 50% 0 5%; */
    align-items: center;
    justify-content: space-between;
    width: 120%;
    padding: 2% 30%;
    box-sizing: border-box;
}

/* アイコン画像、名前 */
.search-info{
  display: flex;
  align-items: center;
  gap: 15%;
  flex-grow: 1;
}

/* 名前の位置調節 */
.search-name{
  font-size: 16px;
  text-align: left;
  /* margin-left: 5%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

/* フォロー、フォロー解除ボタンの位置調節 */
.search-box1 form{
  margin-left: 40%;
  flex-shrink: 0;
}

/* フォロー、フォロー解除ボタンの幅調節 */
.btn.btn-danger, .btn.btn-info{
  font-size: 16px;
  white-space: nowrap;
}


/* プロフィール編集ページ */
/* プロフィール編集ページの全体 */
.profile{
    /* text-align: center; */
    margin: 5% 2%;
}

/* プロフィール編集ページの中身 */
.form-group{
    margin: auto;
    display: flex;
    justify-content: center;
    /* 水平方向の中央寄せ */
}

/* フォームの枠のレイアウト */
.input-name, .input-mail, .input-password, .input-password_confirmation, .input-bio{
  width: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

/* 更新ボタンレイアウト */
.form-group p{
    padding: 10px 0;
}

/* アイコン画像の大きさ */
.form-group img{
    height: 50px;
    width: 50px;
    margin-right: 3%;
}

/* 入力フォームの位置調節 */
.form-space{
    width: 60%;
}

/* 入力フォームと名前同士の位置調節 */
.form-space label{
    display: inline-block;
    width: 40%;
}


/* アイコン画像編集部分 */
/* 元々の表示を非表示に */
input[type="file"] {
  display: none;
}

/* 新しく作成したアイコン画像編集部分のレイアウト */
.icons .from-f {
  padding: 4% 10%;
  background-color: rgba(0, 0, 0, 0.1);;
  cursor: pointer;
  text-align: center;
  border: 2px solid;
  width: 50%;
  font-size: 20px;
}

/* ファイルを選択していませんのメッセージ非表示 */
.select-image{
  color: transparent;
}

/* ファイル選択をクリックした時の透明度 */
.from-f:hover {
  opacity: 0.8;
}

/* ファイル選択のレイアウト、透明度 */
.from-f span {
  background-color: #FFFFFF;
  opacity: 0.5;
  padding: 0 15%;
  white-space: nowrap;
}

/* 画像の編集の位置調節 */
.icons{
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 更新ボタンの位置調節 */
.btn-profile{
    width: 30%;
    /* ボタンの幅 */
    margin-left: 30%;
    /* 中央寄せ、ボタンの位置調節 */
}
/* !important　強制的に表示させる */


/* フォローリストページ */
/* フォローリスト文字レイアウト */
.followList{
  font-size: 30px;
  padding: 3%;
  margin-left: 5%;
  white-space: nowrap;
}


/*  フォローリスト上部*/
.follow_icon{
  display: flex;
  width: 46%;
  border: 5px solid;
  border-style: none;
  flex-wrap: wrap;
  padding: 2%;
}

/* アイコン画像 */
.follow-top img{
  width: 50px;
  height: 50px;
}

/* フォローアイコンの下の下線、アイコンの位置のレイアウト */
.follow_block{
  display: flex;
  border-bottom: 10px solid #DDDDDD;
}

/* フォローリスト下部　投稿内容ごとの位置調節 */
.follow-block{
  width:100%;
  padding:2%;
}

/* フォローしているユーザーの投稿一覧レイアウト */
.follow_post{
    border-bottom:1px solid #000;
  }

/* アイコン画像、名前、投稿日時のグループ */
  .follow-box{
    display:flex;
    /* アイコン、名前、投稿日時を横並び */
    align-items: center;
    /* ３つを縦に中央に並べる */
  }

  /* アイコン画像の位置調節 */
  figure{
    margin-left: 10%;
  }

  /* 名前位置調節 */
  .follow-name{
    margin-bottom:10px;
    /* 投稿内容とのスペース */
    margin-left: 20px;
    /* アイコンとのスペース */
  }

  /* 投稿日時に位置調節 */
  .follow-created_at{
    margin-left: auto;
    /* 投稿日時のみ右寄せ */
  }

  /* 投稿内容の位置調節 */
  .follow-post{
    margin-left: 18%;
    /* 余白調整 */
  }

/* フォロワーリストページ */
/* フォロワーリストの文字レイアウト */
.followerList{
    font-size: 30px;
    padding: 3%;
    margin-left: 5%;
    white-space: nowrap;
}
/* フォローアイコンの下の下線、アイコンの位置のレイアウト */
.follower_block{
  display: flex;
  border-bottom: 10px solid #DDDDDD;
}

/* フォロワーリストの上部 */
.follower_icon{
    display: flex;
    width: 46%;
    border: 5px solid;
    border-style: none;
    flex-wrap: wrap;
    padding: 2%;
}

/* アイコン画像の大きさ */
.follower-top img{
  width: 50px;
  height: 50px;
}

/* フォローワーの投稿一覧のレイアウト　下部 */
/* 投稿一覧の全体 */
.follower_post{
    border-bottom:1px solid #000;
  }

  /*  投稿内容ごとの位置調節*/
  .follower-block{
    width:100%;
    padding:2%;
  }

  /* アイコン画像、名前、投稿日時のグループ  */
  .follower-box{
    display:flex;
    /* アイコン、名前、投稿日時を横並び */
    align-items: center;
    /* ３つを縦に中央に並べる */
  }

  /* アイコン画像の位置調節 */
  figure{
    margin-left: 10%;
  }

  /* 名前の位置調節 */
  .follower-name{
    margin-bottom:10px;
    /* 投稿内容とのスペース */
    margin-left: 20px;
    /* アイコンとのスペース */
  }

  /* 投稿日時の位置調節 */
  .follower-created_at{
    margin-left: auto;
    /* 投稿日時のみ右寄せ */
  }

  /* 投稿内容の位置調節 */
  .follower-post{
    margin-left: 18%;
    /* 余白調整 */
  }

  /* ユーザープロフィールページ */
  /* フォローリスト、フォロワーリスト内　Usersprofile.blade.php */

  /* フォロー機能ボタンの切り替え */
  /* 表示上部 */
  .U{
    display: flex;
    border-bottom: 10px solid #DDDDDD;
    padding-bottom: 2%;
    align-items: center;
}

/* アイコン画像、名前、自己紹介のグループ */
.datalist{
  display: flex;
  width: 75%;
  margin-top: 5%;
  margin-left: 5%;
  white-space: nowrap;
}

/* 名前のグループ */
.datalist-box1{
  margin-left: 5%;
  font-size: 25px;
}

/* 自己紹介のグループ */
.datalist-box2{
  margin-left: 10%;
  font-size: 25px;
}

/* ボタンの位置調節 */
.datalist-btn{
  margin-top: 8%;
  margin-left: 3%;
}

/* フォローボタンの幅調節 */
button.btn.btn-danger{
  width: 150%;
}

/* フォロー解除ボタンの幅調節 */
button.btn.btn-info{
  width: 150%;
}

/* 表示下部 */
/* 下部全体 */
.followDate_post{
    border-bottom:1px solid #000;
  }

  /*  投稿内容ごとの位置調節*/
  .followDate-block{
    width:100%;
    padding:2%;
  }

  /* アイコン画像、名前、投稿日時のグループ */
  .followDate-box{
    display:flex;
    /* アイコン、名前、投稿日時を横並び */
    align-items: center;
    /* ３つを縦に中央に並べる */
  }

  /* アイコン画像の位置調節 */
  figure{
    margin-left: 10%;
  }

  /* 名前の位置調節 */
  .followDate-name{
    margin-bottom:10px;
    /* 投稿内容とのスペース */
    margin-left: 20px;
    /* アイコンとのスペース */
  }

  /* 投稿日時の位置調節 */
  .followDate-created_at{
    margin-left: auto;
    /* 投稿日時のみ右寄せ */
  }

  /* 投稿内容の位置調節 */
  .followDate-post{
    margin-left: 18%;
    /* 余白調整 */
  }
