@charset "utf-8";
html{
}
body{
}
/* header */
/* display:flex;は親要素に対応するため操作したい親要素に記述する */
header{
    background:#186AC9;
    display: flex;
    width: 100%;
    padding: 10px;
}


/* topページ */

#logo img{
    width: 120px;
    padding: 10px;
}

#head img, .form img{
    width: 50px;
    padding: 10px;
}

/* #logo, #head{ */
    /* display: inline-block; */
    /* padding: 10px; */
/* } */

#head{
    flex-wrap: nowrap;
    text-align: right;
    display: flex;
    width: 90%;
    justify-content: end;
}
.username{
    padding: 20px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}


/*アコーディオンメニュー*/
.nav-menu {
    display: none;
    width: 300px;
    right: 0px;
    top: 90px;
    position: absolute;
    /* text-align: center; */
    /* font-size: 20px; */
    /* border: 3px solid #000080; */
    background-color:#FFFFFF;
    /* color: #808080; */
}

.nav-menu li {
    /* padding: 30px; */
    /* z-index: 1; */
    right: 0;
    top: 50px;
}

.nav-menu li a {
    display: flex;
    height: 80px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #808080;
    font-size: 25px;
    border: 3px solid #000080;
    line-height: 80px;
}

.nav-btn {
    /* position: relative; */
    padding: 10px;
}

.nav-btn:after {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    /* position: absolute; */
    right: 25px;
    /* top: 0%; 後で使うかも*/
    transform: rotate(135deg);
    transition: transform 0.5s ease-in-out, top .0.5s ease-in-out;
}

.nav-btn.open:after {
    top: 45%;
    transform: rotate(-45deg);
}

.nav-menu.open:after {
    display: block;
    /* position: absolute; */
    resize: none;
}

/* ナビメニュークリックで色が変わる */
.nav-menu li a:hover {
    background-color: #000080;
    color: #FFFFFF;
}


/*  投稿フォーム,投稿エリア  */
.post-form {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 200%;
}

.post-form input {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 0.5em 0;
}

.form-control{
    border: none;
}

.Form-group{
    border-bottom: 10px solid #DDDDDD;
    padding-bottom: 5%;
    margin-bottom: 0;
}

.post-form img {
    width: 55px;
}

.index-errors {
    color: red;
}

/* .content{ */
    /* margin: 0 auto; */
    /* padding: 40px; */
/* } */

.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.modal_post{
    border: none;
}

/* 投稿ページのレイアウト */
.content-block{
    list-style:none;
    border-bottom:1px solid #000;
    display:flex;
    position: relative;
  }

  .post-box{
    width:100%;
    padding:15px;
  }

  .post-box > div{
    display:flex;
  }

  .post-name{
    margin-bottom:10px;
  }

  .post-created_at{
    justify-content: end;
    position: absolute;
    top: 0;
    right: 3%;
  }


/* 削除ボタンの画像切り替え */
.delete-button{
    position: relative;
    /* positionで親要素の基準の位置を決めてあげる。relativeによって */
}
.delete-button img{
    position: absolute;
    /* 子要素はabsoluteを使用して好きな位置に移動できる。これにより２つの画像を同じ位置に設定した */
}
.delete-button img:last-of-type{
    /* 2枚目の画像を最初の設定で透明にして見えないようにしている */
    opacity: 0;
}
.delete-button:hover img:first-of-type{
    opacity: 0;
    /* 1枚目の画像のことを指している。ホバーしていない状態 */
}
.delete-button:hover img:last-of-type{
    opacity: 1;
    /* 2枚目の画像のことを指している。ホバーし、2枚目の画像が見える状態にしている。 */
}

/* 検索ページ */
.search-top{
    display: flex;
    border-bottom: 10px solid #DDDDDD;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

#search form{
    display: flex;
}

.btn.btn-search{
    display: block;
}
.btn.btn-search img{
    width: 40%;
    padding: 0.5rem;
    background: #fff;
    border: none;
}
.search-form{
    display: block;
    padding: 0.5rem;
    
}

.btn{
    color: #fff !important;
}
/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* フォローリストページ */
.followList{
    font-size: 200%;
}
/* フォローアイコンの下の下線、アイコンの位置のレイアウト */
.follow_icon{
    display: flex;
    border-bottom: 10px solid #DDDDDD;
    padding-bottom: 5%;
    margin-bottom: 0;
}

/* フォローしているユーザーの投稿一覧レイアウト */
.follow-block{
    list-style:none;
    border-bottom:1px solid #000;
    display:flex;
    position: relative;
    padding: 10px;
}

.follow-box{
    width:100%;
    padding:15px;
}

.follow-box > div{
    display:flex;
  }
  
  .follow-name{
      margin-bottom:10px;
    }
    
    .follow-created_at{
        justify-content: end;
        position: absolute;
        top: 10%;
        right: 3%;
    }
    
    

    
    /* プロフィール編集ページ */
.profile{
    /* text-align: center; */
}

.form-group{
    display: flex;
    margin: auto;
    justify-content: center;
    /* 水平方向の中央寄せ */
}

.form-group p{
    padding: 10px 0;
}

.form-group img{
    height: 50px;
    width: 50px;
}

.form-space{
    width: 30%;
}

.form-space label{
    display: inline-block;
    width: 40%;
}

.btn-profile{
    text-align: center;
}
/* !important　強制的に表示させる */

/* フォローリスト、フォロワーリスト内　Usersprofile.blade.php */
/* フォロー機能ボタンの切り替え */
.users-profile{
    display: flex;
}

/* フォロワーリストページ */
/* フォロワーのアイコンの位置、下の下線のレイアウト */
.follower_icon{
    display: flex;
    border-bottom: 10px solid #DDDDDD;
    padding-bottom: 5%;
    margin-bottom: 0;
}

/* フォローワーの投稿一覧のレイアウト */
.follower-block{
    list-style:none;
    border-bottom:1px solid #000;
    display:flex;
    position: relative;
    padding: 10px;
  }

  .follower-box{
    width:100%;
    padding:15px;
  }

  .follower-box > div{
    display:flex;
  }

  .follower-name{
    margin-bottom:10px;
  }

  .follower-created_at{
    justify-content: end;
    position: absolute;
    top: 10%;
    right: 3%;
  }

  /* ユーザープロフィールページ */
  .users-profile{
    display: flex;
    border-bottom: 10px solid #DDDDDD;
    padding-bottom: 5%;
    margin-bottom: 0;
}

/* ユーザーの投稿一覧のレイアウト */
.followDate-block{
    list-style:none;
    border-bottom:1px solid #000;
    display:flex;
    position: relative;
    padding: 10px;
  }

/* フォローボタン、フォロー解除ボタンレイアウト */
.follow-cancel-button{
    color: #fff !important;
}

.follow-button{
    color: #fff !important;
}

  .followDate-box{
    width:100%;
    padding:15px;
  }

  .followDate-box > div{
    display:flex;
  }

  .followDate-name{
    margin-bottom:10px;
  }

  .followDate-created_at{
    justify-content: end;
    position: absolute;
    top: 10%;
    right: 3%;
  }